*.DS_Store*

# Build artifacts:
dist
node_modules
*.build*
*bundle*
.deploy*

# Environment Variables
.env*
.runtimeconfig.json
credentials.firebase.json

# Data
*.data*

# etc...
.meta
*.log

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# .pnp.*


packages/functions/.data/
.trash
