# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Yarn
*.log

# Zero Install
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Mac files
*.DS_Store*

# Environment Variables
.env*
.runtimeconfig.json
.data/*

