# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
/node_modules
*node_modules**
!servers/*/node_modules


# Yarn
*.log

# Mac files
*.DS_Store*

# Environment Variables
.env*

# Firebase
data/*
.runtimeconfig.json

# Misc.
.trash
.ideas
